.sub{
    background: url(../assets/subWhi.png) no-repeat;
    color: #1e1e1e;
    width: 130px;
    padding: 5px 0px;
    text-align: center;
    font-weight: 500;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 15px rgba(255, 219, 87, 0.25));
}
header{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#plans{
    background: url(../assets/testBG.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    color: #1e1e1e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    border-bottom: 5px solid #FFCB05;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}
.card{
    position: relative;
    width: 390px;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 400px;
    display: flex;
    background-color: #1e1e1e;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.active{
    border: 1px solid #FFCB05;
}
.active .card-top{
    background-color:  #FFCB05;
}
.card-top{
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 13px 0px;
    border-radius: 10px 10px 0px  0px;
    display: flex;
    align-items: center;
    justify-content: center;
height: 17%;
}
.card-top h4{
    font-weight: 500;
    font-size: 24px;
}
.card-body{
    padding: 15px 0px;
    text-align: center;
    color: #fff;
}
.card-body h2{
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 500;
}
.card-body>h2>span{
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}
.card-body ul{
    list-style: none;
    font-weight: 400;
    color: #fff;
}
.card-body li{
    margin: 5px 0px;
}
.btn{
    width: 90%;
    align-self: center;
    color: #1e1e1e;
    background-color: #FFCB05;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 0px;
    border: 1px solid #FFCB05;
    margin: 5px 0px 12px 0px;
    transition: all ease .3s;
    text-decoration: none;
    text-align: center;
}
.btn-outline{
    background-color: #1e1e1e;
    color: #FFCB05;
}
.btn-outline:hover{
    color: #1e1e1e;
    background-color:#FFCB05;
}
.ticket{
    position: absolute;
    background-color: #FFCB05;
    font-weight: 600;
    left: 37.15%;
    padding: 5px 10px;
    top: -25px;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width:1250px){
    #plans{
        height: fit-content;
        background: url(../assets/tallBG.png) no-repeat;
        background-position: center;
        background-size: cover;
    
    }
    .title span{
        display: none;
    }
}